<link rel="stylesheet" href="/Capstone 4/cryptipulse/public/css/styles.css">

<footer>
    <div class="container mx-auto px-6">
        &copy; 2025 CryptoPulse. Built by Vedant Wagh 🔥. All Rights Reserved.
    </div>
</footer>