<header class="site-nav">
  <a href="/" class="nav-logo">
    <img src="/images/cryptologo1.png" alt="CryptoPulse" class="nav-logo-img" />
    <span class="nav-logo-crypto">Crypto</span><span class="nav-logo-pulse">Pulse</span>
  </a>

  <ul class="nav-links">
    <li><a href="/" class="nav-link">Home</a></li>
    <li><a href="/dashboard" class="nav-link">Dashboard</a></li>
    <li><a href="/markets" class="nav-link">Market</a></li>
    <% if (typeof user !== 'undefined' && user) { %>
      <li><a href="/portfolio" class="nav-link">Portfolio</a></li>
    <% } %>
    <li><a href="/about" class="nav-link">About</a></li>
  </ul>

  <div class="nav-auth">
    <% if (typeof user !== 'undefined' && user) { %>
      <div class="nav-user dropdown">
        <button class="nav-user-btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="nav-avatar"><%= user.name.charAt(0).toUpperCase() %></span>
          <span class="nav-username"><%= user.name %></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end nav-dropdown">
          <li><a class="dropdown-item" href="/portfolio">My Portfolio</a></li>
          <li><a class="dropdown-item" href="/portfolio/watchlist">Watchlist</a></li>
          <li><hr class="dropdown-divider nav-divider"></li>
          <li><a class="dropdown-item" href="/auth/logout">Logout</a></li>
        </ul>
      </div>
    <% } else { %>
      <a href="/auth/login" class="btn-login">Login</a>
      <a href="/auth/register" class="btn-signup">Sign Up</a>
    <% } %>
  </div>
</header>
