<link rel="stylesheet" href="/Capstone 4/cryptipulse/public/css/styles.css">
 <style>
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
</style>
 <div>
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <span class="stylish-heading text-start fw-bold text-light" style="font-size: 2.2rem; font-family: 'Montserrat', 'Segoe UI', Arial, sans-serif; letter-spacing: 1px;">
        <span style="color: orange; font-family: 'Montserrat', 'Segoe UI', Arial, sans-serif; letter-spacing: 2px;">Crypto</span><span style="color: grey;">Pulse</span> <span style="font-size: 1.5rem; vertical-align: middle;">&#129302;</span>
    </span>
   
  </a>
  <ul class="nav nav-pills me-3">
    <li class="nav-item">
        <a href="#" class="nav-link btn btn-warning rounded-pill text-dark px-3" style="background-color: #fd7e14; border-color: #fd7e14; color: #212529;">Home</a>
    </li>
    <li class="nav-item text-light"><a href="#" class="nav-link">Markets</a></li>
    <li class="nav-item text-light"><a href="#" class="nav-link">News</a></li>
    <li class="nav-item text-light"><a href="#" class="nav-link">About</a></li>
  </ul>
</header>
</div>